# Byte-compiled / optimized / DLL files
__pycache__/
# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
sdist/
MANIFEST

# Environments
.env
.venv

# Logs
logs/

# datafiles
train.csv
test.csv
test_data_predictions.csv

# all logs
logs/

# trained models (will be created in CI)
packages/regression_model/regression_model/trained_models/*.pkl
