# Byte-compiled / optimized / DLL files
__pycache__/
# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
sdist/
MANIFEST

# Environments
.env
.venv

# pickle files
*.pkl

# Data files
train.csv
test.csv
